/* Algemene stijlregels */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #1a1a1a, #000); /* Gladde achtergrond met zwarttinten */
    color: #fff;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #111; /* Donkergrijze achtergrond voor de header */
    color: #f00; /* Accentkleur rood voor de tekst */
    text-align: center;
    padding: 1rem 0;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

section {
    padding: 2rem;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Formulierstijl */
form {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #222; /* Iets lichtere zwarte achtergrond voor het formulier */
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.5); /* Rode schaduw */
    max-width: 350px; /* Kortere breedte */
    width: 100%; /* Past zich beter aan kleinere schermen aan */
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input, select {
    width: calc(100% - 10px); /* Kortere breedte binnen de form */
    padding: 0.7rem;
    margin-bottom: 1rem;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333; /* Donkergrijze invulvelden */
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

input::placeholder {
    color: #bbb;
}

button {
    display: block;
    width: 100%;
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    background-color: #f00; /* Rode knop */
    color: #fff;
    font-size: 1rem;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c00; /* Donkerder rood bij hover */
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #111;
    color: #f00;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
}
